{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"proseWrap": "always",
	"plugins": [
		"prettier-plugin-svelte"
	],
	"pluginSearchDirs": [
		"."
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}