{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"proseWrap": "always",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
